*{
  box-sizing:border-box;
}
body{
  background-color:orange;
  margin:0;
  min-height:100px;
}
.container{
 display:flex;
  align-items:center;
  justify-content:center;
  height:100px;
}
.display{
  background-color:white;
  border-radius:4px;
  display:flex;
 
  flex-wrap:wrap;
  width:360px;
}
.display h1{
  display:block;
  width:100%;
  text-align:center;
}
.drum-pad{
  border:3px solid black;
  border-radius:4px;
  background-color:gray;
  margin:10px;
  height:100px;
  width:100px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.drum-pad.active{
  opacity:0.8;
  transform:scale(0.98);
}